.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

span{
    font-size: 1.1em;
    font-weight: bolder;
}

.navbar-logo {
    margin-right: 20px;
    text-decoration: none;
    color: #333;

}

.navbar-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #555;
}

.navbar-button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: double;
}

.navbar-button:hover {
    background-color: #333;     
}